Pods/
Podfile.lock
trip-advisori-iOS.xcodeproj/xcuserdata/jdaley.xcuserdatad/
trip-advisori-iOS.xcworkspace/xcuserdata/jdaley.xcuserdatad/
trip-advisori-iOS.xcodeproj/xcuserdata/jdaley.xcuserdatad/xcschemes/trip-advisori-iOS.xcscheme
trip-advisori-iOS.xcodeproj/xcuserdata/jdaley.xcuserdatad/xcschemes/xcschememanagement.plist
trip-advisori-iOS.xcworkspace/xcuserdata/jdaley.xcuserdatad/UserInterfaceState.xcuserstate

